<header
  class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf4] px-10 py-3"
>
  <div class="flex items-center gap-4 text-[#0d141c]">
    <div class="size-4">
      <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M24 4C25.7818 14.2173 33.7827 22.2182 44 24C33.7827 25.7818 25.7818 33.7827 24 44C22.2182 33.7827 14.2173 25.7818 4 24C14.2173 22.2182 22.2182 14.2173 24 4Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
    <h2
      class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em]"
    >
      Eventio
    </h2>
  </div>
  {% if user.is_authenticated %}
  <div class="flex flex-1 justify-end gap-8">
    {% comment %} <div class="flex items-center gap-9">
      <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Dashboard</a>
    </div> {% endcomment %}
    <div class="flex gap-2">
      <button
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#0d7cf2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <a class="truncate" href="{% url 'events:create_event' %}">New event</a>
      </button>
      <button
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <a href="{% url 'accounts:logout' %}" class="truncate">Logout</a>
      </button>
    </div>
    {% comment %} <div
      class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
      style='background-image: url("https://cdn.usegalileo.ai/sdxl10/101f5617-1def-49ab-9188-c2575daeb32f.png");'
    ></div> {% endcomment %}
  </div>
  {% else %}
  <div class="flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-9">
      <a class="text-[#0d141c] text-sm font-medium leading-normal" href="{% url 'accounts:signup' %}"
        >Sign up</a
      >
    </div>
    <button
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#0d7cf2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]"
    >
      <a class="truncate" href="{% url 'accounts:login' %}">Log in</a>
    </button>
  </div>
  {% endif %}
</header>
